@model SharedServices.UI.Models.ServiceModels.MyServicesViewModel
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Titre"];
    var userServices = Model.UserServices;
    var selectServices = Model.SelectServices;
}
@section Styles{
    <style>
        .service-select:focus {
            border-color: #0e9c9c !important;
            box-shadow: 0 0 0 0.2rem rgba(14, 156, 156, .25) !important;
        }

        .card {
            box-shadow: none;
        }

        .link.active {
            background-color: #0e9c9c !important;
        }

        .select-wrapper.md-form > ul li label {
            color: #0e9c9c !important;
        }
    </style>
}

<div class="container card my-5">
    <div class="row mt-4 card-body">
        <div class="col-md-3">
            <ul class="nav md-pills flex-column" role="tablist">
                <li class="nav-item">
                    <a class="nav-link link active" data-toggle="tab" href="#my-services" role="tab">
                        @Localizer["MesServices"]
                        <i class="fas fa-clipboard-list ml-2"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link" data-toggle="tab" href="#add-services" role="tab">
                        @Localizer["AjouterServices"]
                        <i class="fas fa-plus-square ml-2"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <!-- Tab panels -->
            <div class="tab-content vertical">
                <!-- Panel 1 -->
                <div class="tab-pane fade in show active" id="my-services" role="tabpanel">
                    <div class="row mb-2">
                        <h2 class="ubuntu-light font-weight-bold mt-2 col-md-12">@Localizer["MesServices"]</h2>
                    </div>
                    <div class="row mb-4 mb-md-5">
                        <div class="col-md-12">
                            @foreach (var group in userServices)
                            {
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5 class="text-color-green my-2"><i class="far fa-hand-point-right mr-2"></i>@group.ServiceGroup.Title</h5>
                                        <div class="ml-4">
                                            @foreach (var service in group.Services)
                                            {
                                                <p>@service.Title</p>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <!-- Panel 1 -->
                <!-- Panel 2 -->
                <div class="tab-pane fade" id="add-services" role="tabpanel">
                    <div class="row mb-2">
                        <h2 class="ubuntu-light font-weight-bold mt-2 col-md-12">@Localizer["AjouterServices"]</h2>
                    </div>
                    <div class="row my-2 my-md-2">
                        <form class="col-md-12 card card-body loading-content" autocomplete="off" id="form-add-service">
                            @Html.AntiForgeryToken()
                            <label for="sve">@Localizer["SelectionnerServices"]</label>
                            <select name="Services" id="sve" class="mdb-select md-form md-outline service-select mt-0" searchable="@Localizer["Rechercher"]" multiple>
                                @foreach (var group in selectServices)
                                {
                                    <optgroup label="@group.ServiceGroup.Title (@group.ServiceGroup.PointsByHour @Localizer["PointHeure"])">
                                        @foreach (var service in group.Services)
                                        {
                                            <option value="@service.Id">@service.Title</option>
                                        }
                                    </optgroup>
                                }
                            </select>
                            <div class="row d-flex justify-content-end">
                                <div class="col-md-4">
                                    <button class="btn btn-sm bg-color-green waves-effect form-control white-text" id="btn-add-service">@Localizer["Ajouter"]</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/business/service.js"></script>
}