@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="LayoutComponents/_Styles.cshtml" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <!-- Loading Screen -->
    <div id="ju-loading-screen">
        <div class="sk-double-bounce">
            <div class="sk-child sk-double-bounce1"></div>
            <div class="sk-child sk-double-bounce2"></div>
        </div>
    </div>
    <!-- Start Top Header -->
    <partial name="LayoutComponents/_HeaderTop.cshtml" />
    <!-- /End Top Header -->
    <div class="d-flex flex-column">
        <!-- Start Navigation -->
        <div class="fables-navigation fables-main-background-color py-3 py-lg-0 mb-md-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12 pr-md-0">
                        <partial name="LayoutComponents/_Navigation.cshtml" />
                    </div>
                </div>
            </div>
        </div>
        <!-- /End Navigation -->
        <!-- Start Header -->
        <div class="fables-header fables-after-overlay mt-lg-5 mt-md-4 mt-sm-3 pt-5" style="height: 100px;">
            <div class="container align-items-center">
                <h3 class="fables-page-title fables-second-border-color">@ViewData["Title"]</h3>
            </div>
        </div>
        <!-- /End Header -->
    </div>
    <!-- Start Breadcrumbs -->
    <div class="fables-light-background-color">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="fables-breadcrumb breadcrumb px-0 py-3">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index" class="fables-second-text-color">@Localizer["Accueil"]</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- /End Breadcrumbs -->
    <!-- Start page content -->
    @RenderBody()
    <!-- /End page content -->
    <!-- Start Footer 2 Background Image  -->
    <partial name="LayoutComponents/_Footer.cshtml" />
    <!-- /End Footer 2 Background Image  -->
    <!--Start Scripts-->
    <partial name="LayoutComponents/_Scripts.cshtml" />
    @RenderSection("Scripts", required: false)
    <!-- /End Scripts-->
</body>
</html>