@inject IViewLocalizer Localizer
@inject IGlobalInfo GlobalInfo

@{
    var infos = GlobalInfo.GetGlobalInfo();
    var cultureFR = CultureInfo.CurrentCulture.Name.Contains("fr");
}
<div>
    <div class="fables-footer-image fables-after-overlay white-color py-4 py-lg-5 bg-rules">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4 mb-4 mb-lg-0">
                    <a asp-controller="Home" asp-action="Index" class="fables-second-border-color border-bottom pb-3 d-block mb-3 mt-minus-13">
                        <img src="~/images/logo-complet-red.png" alt="Between us logo">
                    </a>
                    <p class="font-15 fables-third-text-color">
                        @{ string desc = (cultureFR) ? infos.DescriptionFR : infos.DescriptionEN;}
                        @desc
                    </p>
                    <p>
                        <hr />
                        @{ var url = "https://www.between-us.be"; }
                        <a href="http://www.facebook.com/sharer.php?u=@url&p[images]=&t=@Localizer["Title"]&s=@Localizer["Resume"]" 
                           class="btn btn-sm white-text" style="background-color: #375999" target="_blank">
                            <i class="fab fa-facebook-f ml-2"></i>
                            @Localizer["Partager"]
                        </a>
                    </p>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <h2 class="font-20 semi-font fables-second-border-color border-bottom pb-3">@Localizer["ContactNous"]</h2>
                    <div class="my-3">
                        <h4 class="font-16 semi-font"><span class="fables-iconmap-icon fables-second-text-color pr-2 font-20 mt-1 d-inline-block"></span> @Localizer["AdresseTitre"]</h4>
                        <p class="font-14 fables-fifth-text-color mt-2 ml-4">
                            @{ string address = (cultureFR) ? infos.AddressFR : infos.AddressEN;}
                            @address
                        </p>
                    </div>
                    <div class="my-3">
                        <h4 class="font-16 semi-font"><span class="fables-iconphone fables-second-text-color pr-2 font-20 mt-1 d-inline-block"></span> @Localizer["CallTitre"] </h4>
                        <p class="font-14 fables-fifth-text-color mt-2 ml-4">@infos.Phone</p>
                    </div>
                    <div class="my-3">
                        <h4 class="font-16 semi-font"><span class="fables-iconemail fables-second-text-color pr-2 font-20 mt-1 d-inline-block"></span> Mail </h4>
                        <p class="font-14 fables-fifth-text-color mt-2 ml-4">@infos.Email</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <h2 class="font-20 semi-font fables-second-border-color border-bottom pb-3 mb-3">@Localizer["Exploration"]</h2>
                    <ul class="nav fables-footer-links">
                        <li><a asp-controller="Home" asp-action="FAQs">FAQs</a></li>
                        <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
                        <li><a asp-controller="Home" asp-action="Testimonial">@Localizer["Temoignage"]</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright fables-main-background-color mt-0 border-0 white-color font-15">
        <ul class="nav fables-footer-social-links just-center fables-light-footer-links">
            <li><a href="https://www.linkedin.com/in/laba-koami/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="@infos.AuthorLink" target="_blank"><i class="fas fa-user-tie"></i></a></li>
        </ul>
        <p class="mb-0">@Localizer["Copyright"]</p>
    </div>
</div>