@inject IViewLocalizer Localizer

<div class="container mt-md-5 d-flex flex-column justify-content-around">
    <div class="row justify-content-end mt-md-4 logo">
        <div class="col-md-4 z-index ml-auto mr-sm-2 mr-md-2 mr-lg-0">
            <img src="/images/logo-complet.png" alt="Logo" class="img-logo"/>
        </div>
    </div>
    <div class="row pb-5">
        <div class="col-md-10 col-lg-7 mr-auto index-carousel mb-sm-2 mb-md-3 mb-lg-4">
            @*Time managed in custom.js for default-carousel with carousel-duration attribute*@
            <div class="owl-carousel carousel-duration owl-theme default-carousel nav-0 z-index pt-md-3 pt-xl-4 dots-0 pb-md-5" carousel-duration="10000">
                <!--Part1-->
                <div class="pt-0 mt-0 pt-xl-5 mt-xl-5 wow slideInUp" data-wow-duration="2s" data-wow-delay=".4s">
                    <h1 class="text-color-green font-weight-bold mb-1">
                        @Localizer["1Part1"]<br />
                        <span class="fables-main-text-color"> @Localizer["1Part2"]</span>
                    </h1>
                    <p class="fables-forth-text-colo mb-3 light-font fables-header-slider-details">
                        @Localizer["1Description"]
                    </p>
                    <a href="#" class="btn fables-second-background-color fables-second-border-color white-color
                       rounded-0 mr-4 px-3 px-md-4 py-2 bg-hover-transparent fables-second-hover-color">@Localizer["1Btn1"]</a>
                    <a href="#" class="btn btn-outline-red fables-second-text-color px-3 px-md-4 py-2
                       fables-second-hover-background-color">@Localizer["1Btn2"]</a>
                </div>
                <!--Part2-->
                <div class="pt-0 mt-0 pt-xl-5 mt-xl-5 wow slideInUp" data-wow-duration="2s" data-wow-delay=".4s">
                    <h1 class="text-color-green font-weight-bold mb-1">
                        @Localizer["2Part1"]<br />
                        <span class="fables-main-text-color"> @Localizer["2Part2"]</span>
                    </h1>
                    <p class="fables-forth-text-colo mb-3 light-font fables-header-slider-details">
                        @Localizer["2Description"]
                    </p>
                    <a asp-controller="Account" asp-action="Register" class="btn fables-second-background-color fables-second-border-color
                       white-color rounded-0 mr-4 px-3 px-md-4 py-2 bg-hover-transparent fables-second-hover-color">@Localizer["2Btn1"]</a>
                </div>
                <!--Part3-->
                <div class="pt-0 mt-0 pt-xl-5 mt-xl-5 wow slideInUp" data-wow-duration="2s" data-wow-delay=".4s">
                    <h1 class="text-color-green font-weight-bold mb-1">
                        @Localizer["3Part1"]<br />
                        <span class="fables-main-text-color"> @Localizer["3Part2"]</span>
                    </h1>
                    <p class="fables-forth-text-colo mb-3 light-font fables-header-slider-details">
                        @Localizer["3Description"]
                    </p>
                    <a asp-controller="Search" asp-action="Index" class="btn btn-outline-red fables-second-text-color
                       px-3 px-md-4 py-2 fables-second-hover-background-color">@Localizer["3Btn1"]</a>
                </div>
            </div>
        </div>
    </div>
</div>