@model SearchModel
@inject IViewLocalizer Localizer;

@{
    ViewBag.Title = Localizer["Titre"];
    var users = Model.Users;
    var search = ViewBag.Search is null;
}

@section Styles {
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/css/bootstrap-material-datetimepicker-bs4.min.css" rel="stylesheet" />
    <style>
        .dtp-btn-cancel {
            color: var(--custom-green-color) !important;
        }
        .dtp-btn-ok {
            color: var(--custom-green-color) !important;
        }
    </style>
}

<!-- Start page content -->
<div class="container">
    <div class="row my-4 my-md-5">
        <div class="col-12 col-md-4 col-lg-3">
            <div class="fables-store-search mb-4">
                <form asp-action="Index" asp-controller="Search">
                    <div class="input-icon">
                        <span class="fables-iconsearch-icon fables-input-icon"></span>
                        @if (!search)
                        {
                            <input type="text" id="search-input" name="search" class="form-control rounded-0 form-control mdb-autocomplete
                                   rounded-0 font-14 fables-store-input pl-5 py-2" placeholder="Tapez le service" autocomplete="off" value="@ViewBag.Search">
                        }
                        else
                        {
                            <input type="text" id="search-input" name="search" class="form-control rounded-0 form-control mdb-autocomplete
                                   rounded-0 font-14 fables-store-input pl-5 py-2" placeholder="Tapez le service" autocomplete="off">
                        }
                        <button type="submit" class="btn btn-block fables-second-background-color
                                white-text hoverable p-2 font-15 mb-4 mt-1">
                            Rechercher
                        </button>
                    </div>
                </form>
            </div>

            <h2 class="font-16 semi-font fables-forth-text-color fables-light-gary-background  p-3 mt-3">Catégories de service</h2>
            <ul class="nav fables-forth-text-color fables-forth-before fables-store-left-list">
                <li><a href="#">BELTS</a></li>
                <li><a href="#">BLAZERS</a></li>
                <li><a href="#">COATS & JACKETS</a></li>
                <li><a href="#">BAGS & PURSES</a></li>
                <li><a href="#">WALLETS</a></li>
                <li><a href="#">KNITWEAR</a></li>
                <li><a href="#">BLAZERS</a></li>
                <li><a href="#">JACKETS</a></li>
            </ul>
        </div>
        <div class="col-12 col-md-8 col-lg-9 margin">
            <div class="row mb-4">
                <div class="col-12 col-lg-4">
                    <form>
                        <div class="form-group mb-0">
                            <select class="form-control rounded-0 browser-default custom-select" id="filter">
                                <option selected>default sorting</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="col-4 col-md-6 col-lg-2 offset-lg-6 text-center pl-0 d-none d-lg-block">
                    <span class="fables-iconlist fa-fw fables-view-btn fables-list-btn fables-third-border-color fables-third-text-color"></span>
                    <span class="fables-icongrid active fa-fw fables-view-btn fables-grid-btn fables-third-border-color fables-third-text-color"></span>
                </div>
            </div>
            <div class="row">
                @foreach (var user in users)
                {
                    <div class="col-12 col-sm-6 col-lg-4 fables-product-block">
                        <div class="card rounded-0 mb-4">
                            <div class="row">
                                <div class="fables-product-img col-12">
                                    <img class="card-img-top rounded-0" src="@user.ResizePicture(256, 206)" alt="@user.LastName picture">
                                    <div class="fables-img-overlay">
                                        <ul class="nav fables-product-btns">
                                            <li>
                                                <a asp-action="Details" asp-controller="Search" asp-route-id="@user.Id" asp-route-flag="@ViewBag.Service" class="fables-product-btn" data-toggle="tooltip" data-placement="top"
                                                   title="Plus de détails"><span class="fables-iconeye"></span></a>
                                            </li>
                                            <li>
                                                <a href="#" id="@user.Id" class="fables-product-btn search-message-a" data-toggle="tooltip" data-placement="top"
                                                   title="Envoyer un message"><i class="far fa-envelope"></i></a>
                                            </li>
                                            <li>
                                                <a href="" class="fables-product-btn" data-toggle="tooltip" data-placement="top"
                                                   title="Noter">
                                                    <i class="far fa-star"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-body col-12">
                                    <h5 class="card-title mx-xl-3 mb-0">
                                        <a href="#" class="fables-main-text-color fables-store-product-title fables-second-hover-color">@user.FirstName @user.LastName</a>
                                    </h5>
                                    <ul class="rating mx-xl-3 pb-xl-2 mt-0">
                                        @for (int i = 0; i < user.Start; i++)
                                        {
                                            <li>
                                                <i class="fas fa-star text-color-green"></i>
                                            </li>
                                        }
                                    </ul>
                                    <p class="store-card-text fables-fifth-text-color font-15 mx-xl-3 my-2">@user.PostalCode @user.City - @user.Country</p>
                                    <p class="fables-product-info">
                                        <a service="@ViewBag.Service" flag="@user.Id" class="btn btn-sm btn-outline-green-light btn-rounded
                                           fables-hover-btn-color fables-second-text-color font-14 p-2 px-2 px-xl-4 request">
                                            <i class="fas fa-hands-helping fables-btn-value"></i>
                                            <span class="fables-btn-value">ENVOYER LA DEMANDE</span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item"><a class="page-link rounded-circle fables-forth-text-color fables-page-link fables-second-hover-background-color" href="#">1</a></li>
                    <li class="page-item"><a class="page-link rounded-circle fables-forth-text-color fables-page-link fables-second-hover-background-color" href="#">2</a></li>
                    <li class="page-item"><a class="page-link rounded-circle fables-forth-text-color fables-page-link fables-page-link fables-second-hover-background-color" href="#">3</a></li>
                    <li><span class="fables-pagi-dots fables-forth-text-color"> .... </span></li>
                    <li class="page-item"><a class="page-link rounded-circle fables-forth-text-color fables-page-link fables-second-hover-background-color" href="#">20</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<!-- /End page content -->

<partial name="/Views/Discussion/_SearchMessageHeader.cshtml" />
<partial name="/Views/Request/_RequestHeader.cshtml" />
@section Scripts{
    <script src="~/js/search.js"></script>
    <script src="~/js/moment.js"></script>
    <script src="~/js/bootstrap-material-datetimepicker-bs4.min.js"></script>
    <script src="~/js/business/request.js"></script>


    <script type="text/javascript">
        var lang = @ViewBag.Culture;
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();

            $(".dtp-select-hour").attr("fill", "#0e9c9c");
        })
    </script>
}