@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["PageTitle"];
}
@section Styles{
    
}
<style>
</style>

<div class="fables-after-overlay py-4 py-lg-5 mb-4 mb-lg-5 bg-rules" style="background-image: url('/images/register-bg-2.jpg');">
    <div class="container position-relative z-index">
        <div class="text-center">
            <img src="~/images/logo-complet.png" alt="Between us logo" class="img-fluid">
            <h2 class="white-color ubuntu-light font-weight-bold  mb-4 mb-md-5">@Localizer["PageTitle"]</h2>
        </div>
        <div class="row p-4 justify-content-center">
            <div class="col-md-6 ubuntu-light mb-lg-0 wow bounceInDown card card-body bg-ghost" data-wow-delay=".4s" data-wow-duration="1.5s"
                 style="        visibility: visible;
        animation-duration: 1.5s;
        animation-delay: 0.4s;
        animation-name: bounceInDown;">
                <!-- Default form login -->
                <form class="border border-light p-5" asp-action="Login" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                    <!-- Email -->
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control mb-4">
                    <span asp-validation-for="Email" class="text-danger"></span>

                    <!-- Password -->
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control mb-4">
                    <span asp-validation-for="Password" class="text-danger"></span>

                    <div class="d-flex flex-wrap justify-content-around">
                        <div>
                            <!-- Remember me -->
                            <div class="form-check">
                                <input class="form-check-input ml-0"  asp-for="RememberMe">
                                <label class="form-check-label" asp-for="RememberMe"></label>
                            </div>
                        </div>
                        <div>
                            <!-- Forgot password -->
                            <a href="">@Localizer["PasswordForgotten"]</a>
                        </div>
                    </div>

                    <!-- Sign in button -->
                    <button class="btn btn-info btn-block my-4" type="submit">@Localizer["Valider"]</button>
                    <!-- Register -->
                    <p class="text-center">
                        @Localizer["NotMember"] 
                        <a asp-action="Register">@Localizer["Register"]</a>
                    </p>                    
                </form>
                <!-- Default form login -->
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">

    </script>
}