@model RegisterViewModel
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["PageTitle"];
    var services = Model.ServicesTO;
}
@section Styles{
    <link href="~/mdb/css/steppers.min.css" rel="stylesheet" />
    <link href="~/css/register.css" rel="stylesheet" />
    <style>
        @@media (max-width : 768px) {
            .img-logo {
                width: 60%;
                height: auto;
            }
        }
    </style>
}

<div class="fables-after-overlay py-4 py-lg-5 mb-4 mb-lg-5 bg-rules" style="background-image: url('/images/register-bg-2.jpg');">
    <div class="container position-relative z-index">
        <div class="text-center">
            <img src="~/images/logo-complet.png" alt="Between us logo" class="img-fluid img-logo">
            <h2 class="white-color ubuntu-light font-weight-bold  mb-4 mb-md-5">@Localizer["PageTitle"]</h2>
        </div>
        <div class="row p-4">
            <div class="col-md-12 mb-lg-0 wow bounceInDown card card-body bg-ghost" data-wow-delay=".4s" data-wow-duration="1.5s"
                 style="        visibility: visible;
        animation-duration: 1.5s;
        animation-delay: 0.4s;
        animation-name: bounceInDown;">
                <!-- Default form register -->
                <form asp-controller="Account" asp-action="Register" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post"
                      class="p-sm-2 p-md-3 p-lg-4 ubuntu-light border border-light" enctype="multipart/form-data">
                    <div class="form-row">
                        <div class="col-md-12">
                            <div asp-validation-summary="ModelOnly" class="mb-3 text-color-red"></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <ul class="stepper linear col-md-12">
                            <li class="step active">
                                <div class="step-title waves-effect waves-dark"> @Localizer["Identity"]</div>
                                <div class="step-new-content">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12 d-flex align-items-center mb-sm-2">
                                            <p>
                                                <small>
                                                    @Localizer["PictureAdvise"]
                                                </small>
                                            </p>
                                        </div>
                                        <div class="col-md-6 col-sm-12 text-center">
                                            <div class="file-field d-flex flex-wrap-reverse justify-content-center
                                                 align-items-center mb-2">
                                                <div class="btn btn-sm bg-color-green white-text btn-rounded mb-sm-1">
                                                    <span>@Localizer["PictureBtn"]</span>
                                                    <input class="text-sm-center" type="file" id="fileupload" name="File">
                                                </div>
                                                <div>
                                                    <img src="~/images/placeholder-avatar.jpg" id="preview"
                                                         class="rounded-circle z-depth-1-half avatar-pic" alt="Profile picture">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <!-- First name -->
                                            <label asp-for="FirstName"></label>
                                            <input asp-for="FirstName" class="form-control validate" value="Ambroise" required>
                                            <span asp-validation-for="FirstName" class="text-color-red"></span>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <!-- Last name -->
                                            <label asp-for="LastName"></label>
                                            <input asp-for="LastName" class="form-control validate" value="LABA" required>
                                            <span asp-validation-for="LastName" class="text-color-red"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!-- E-mail -->
                                            <label asp-for="Email"></label>
                                            <input asp-for="Email" class="form-control validate" value="ambroiselaba2000@gmail.com" required>
                                            <span asp-validation-for="Email" class="text-color-red"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <!-- Password -->
                                            <label asp-for="Password"></label>
                                            <input asp-for="Password" class="form-control validate" aria-describedby="registerPassword" value="Ambroise0" required>
                                            <span asp-validation-for="Password" class="text-color-red"></span>
                                            <small id="registerPassword" class="form-text text-muted mb-4">
                                                @Localizer["PasswordHint"]
                                            </small>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <!-- Confirm Password -->
                                            <label asp-for="ConfirmPassword"></label>
                                            <input asp-for="ConfirmPassword" class="form-control validate" value="Ambroise0" required>
                                            <span asp-validation-for="ConfirmPassword" class="text-color-red"></span>
                                        </div>
                                    </div>
                                    <div class="step-actions">
                                        <button class="waves-effect waves-dark btn btn-sm bg-color-green next-step float-right white-text">@Localizer["Next"]</button>
                                    </div>
                                </div>
                            </li>
                            <li class="step">
                                <div class="step-title waves-effect waves-dark"> @Localizer["Localite"]</div>
                                <div class="step-new-content">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-12">
                                            <!-- Postal cod -->
                                            <label asp-for="PostalCode"></label>
                                            <input asp-for="PostalCode" class="form-control validate" value="1300" required>
                                            <span asp-validation-for="PostalCode" class="text-color-red"></span>
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <!-- City -->
                                            <label asp-for="City"></label>
                                            <input asp-for="City" class="form-control validate" value="Wavre" required>
                                            <span asp-validation-for="City" class="text-color-red"></span>
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <!-- Country -->
                                            <label asp-for="Country"></label>
                                            <select asp-for="Country" class="browser-default custom-select ubuntu-light">
                                                <partial name="/Views/Shared/_Countries.cshtml" />
                                            </select>
                                            <span asp-validation-for="Country" class="text-color-red"></span>
                                        </div>
                                    </div>
                                    <div class="step-actions">
                                        <button class="waves-effect waves-dark btn btn-sm btn-info previous-step float-left">@Localizer["Back"]</button>
                                        <button class="waves-effect waves-dark btn btn-sm bg-color-green next-step float-right white-text">@Localizer["Next"]</button>
                                    </div>
                                </div>
                            </li>
                            <!--Services-->
                            <li class="step">
                                <div class="step-title waves-effect waves-dark"> @Localizer["Services"]</div>
                                <div class="step-new-content">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p>
                                                <small>@Localizer["ServiceLaterDescription"]</small>
                                            </p>
                                        </div>
                                        <div class="col-md-12 ubuntu-medium mt-2">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="service-check" name="withoutServices">
                                                <label class="form-check-label" for="service-check">@Localizer["ServiceLater"]</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 select-outline">
                                            <select name="Services" id="sve" class="mdb-select md-form md-outline service-select" searchable="Rechercher..." multiple>
                                                @foreach (var group in services)
                                                {
                                                    <optgroup label="@group.ServiceGroup.Title (@group.ServiceGroup.PointsByHour points/heure)">
                                                        @foreach (var service in group.Services)
                                                        {
                                                            <option value="@service.Id">@service.Title</option>
                                                        }
                                                    </optgroup>
                                                }
                                            </select>
                                            <label class="mdb-main-label" for="sve">@Localizer["Services"]</label>
                                            <span asp-validation-for="Services" class="text-color-red"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 select-outline">
                                            <div class="form-group">
                                                <label asp-for="Description"></label>
                                                <textarea class="form-control" asp-for="Description" rows="3"></textarea>
                                            </div>
                                            <span asp-validation-for="Description" class="text-color-red"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!-- Terms of service -->
                                            <p>
                                                @Localizer["Terms1"] <em class="submit-term">@Localizer["Valider"]</em>@Localizer["Terms2"]
                                                <a class="p-0" href="" target="_blank">@Localizer["Terms3"]</a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="step-actions">
                                        <!-- Sign up button -->
                                        <button class="waves-effect waves-dark btn-sm btn bg-color-green m-0 mt-4 float-right white-text" type="submit">@Localizer["Valider"]</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div>
                            <p>
                                @Localizer["DejaInscrit"]
                                <a class="p-0" asp-action="Login" asp-route-returnUrl="@ViewData["ReturnUrl"]">@Localizer["SeConnecter"]</a>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/mdb/js/steppers.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/business/reg.min.js"></script>
    <script type="text/javascript">

    </script>
}