@model RequestFormViewModel
<div class="modal-header d-flex justify-content-center bg-color-green">
    <div class="d-flex justify-content-center flex-wrap">
        <img src="@Model.TargetUserPictureSource" width="45" height="45" alt="Contact picture" class="avatar rounded-circle" />
        <p class="heading">Envoyer une demande à @Model.TargetFullName</p>
    </div>
</div>
<div class="modal-body">
    <form action="/" method="post" id="request-form" class="ubuntu-light">
        @Html.AntiForgeryToken()
        <div class="row mb-3">
            <div class="col-md-12">
                <p class="py-1"><span class="ubuntu-light">Vous avez actuellement : </span><span class="text-color-green ubuntu-medium">@Model.UserPoint points</span></p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <p class="py-1"><span class="ubuntu-medium">À :</span><span class="text-color-green"> @Model.TargetFullName</span></p>
            </div>
            <div class="col-md-6">
                <p class="py-1"><span class="ubuntu-medium">Service :</span> <span class="text-color-green"> @Model.ServiceTitle</span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="duration">Durée du service (en minutes)</label>
                <div class="def-number-input number-input safari_only form-control">
                    <a onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus text-center"></a>
                    <input id="duration" class="quantity form-control" min="0" step="10" name="duration" value="1" type="number">
                    <a onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus text-center"></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group green-border mb-0">
                    <label for="point">Point</label>
                    <input type="text" id="point" name="point" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group green-border">
                    <label for="date">Date et heure</label>
                    <input type="text" id="date" class="form-control request-date">
                    <input type="hidden" id="dateSubmit" class="form-control request-date" name="date">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="description">Description du service</label>
                <textarea class="form-control" id="description" name="description" rows="2"></textarea>
            </div>
        </div>
        <div class="row mb-0">
            <div class="col-md-12">
                <div class="row mb-0">
                    <p class="ubuntu-medium mt-3 col">Lieu où le service sera effectué</p><br />
                </div>
                <div class="row mt-0">
                    <div class="form-group col-md-2">
                        <label for="inputZip">Postal code</label>
                        <input type="text" class="form-control" id="inputZip" name="postalcode">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputCity">City</label>
                        <input type="text" class="form-control" id="inputCity" name="city">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputState">Country</label>
                        <select id="inputState" class="form-control browser-default custom-select ubuntu-light" name="country">
                            <partial name="/Views/Shared/_Countries.cshtml" />
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" value="@Model.ServiceId" name="service" />
        <input type="hidden" value="@Model.TargetId" name="flag" />
    </form>
</div>
<div class="d-flex justify-content-between" style="padding: 1rem; border-top: 1px solid #e9ecef;">
    <a class="btn btn-sm btn-outline-my-green waves-effect" data-dismiss="modal">Annuler</a>
    <a class="btn btn-sm bg-color-green waves-effect" id="btn-request" onclick="requestSending();">Envoyer</a>
</div>