@model ICollection<ServiceTO>
@inject IViewLocalizer Localizer;
@inject UserManager<ApplicationUser> UserManager;

@{
    ViewBag.Title = Localizer["Titre"];

    var services = Model;

    var cultureFR = CultureInfo.CurrentCulture.Name.Contains("fr");
    var culture = (cultureFR) ? CultureInfo.CreateSpecificCulture("fr-FR") : CultureInfo.CreateSpecificCulture("en-US");
}

@section Styles {
    <link href="~/css/register.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/css/bootstrap-material-datetimepicker-bs4.min.css" rel="stylesheet" />
    <link href="~/css/multicast.css" rel="stylesheet" />
    <style>
        
    </style>
}
<!-- Start page content -->
<div class="container">
    <div class="row text-center">
        <h2 class="ubuntu-light font-weight-bold  my-4">Publier une demande</h2>
    </div>
    <div class="row my-4 my-md-5">
        <div class="col-12 card loading-content">
            <form autocomplete="off" class="card-body" id="form-request">
                @Html.AntiForgeryToken()
                <input type="hidden" value="" id="lat" name="lat" />
                <input type="hidden" value="" id="lng" name="lng" />
                <div class="row mb-3">
                    <div class="col-md-12">
                        <p class="py-1"><span class="ubuntu-light">Vous avez actuellement : </span><span class="text-color-green ubuntu-medium">@ViewBag.Points  points</span></p>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-6">
                        <label for="sve my-0">Service</label>
                        <select name="service" id="sve" class="mdb-select md-form md-outline service-select mt-0" searchable="Rechercher...">
                            @foreach (var group in services)
                            {
                                <optgroup label="@group.ServiceGroup.Title (@group.ServiceGroup.PointsByHour points/heure)">
                                    @foreach (var service in group.Services)
                                    {
                                        <option value="@service.Id">@service.Title</option>
                                    }
                                </optgroup>
                            }
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="description">Description du service</label>
                        <textarea class="form-control" id="description" name="description" rows="2">Ceci est la description du service que je recherche.</textarea>
                    </div>
                </div>
                <div class="row my-md-4">
                    <div class="col-md-4">
                        <label for="duration">Durée du service (en minutes)</label>
                        <div class="def-number-input number-input safari_only form-control">
                            <a onclick="management_(this)" class="minus text-center"></a>
                            <input id="duration" class="quantity form-control" min="0" step="10" name="duration" value="1" type="number">
                            <a onclick="management_i(this)" class="plus text-center"></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group green-border mb-0">
                            <label for="point">Point</label>
                            <input type="text" id="point" name="point" class="form-control" value="10">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group green-border mb-0">
                            <label for="date">Cliquez pour sélectionner la date et l'heure</label>
                            <input type="text" id="date" class="form-control request-date">
                            <small>
                                La date est optionnelle pour certains service. <br />
                                Elle est par contre nécessaire pour d'autres services (Ex: Babysitting)
                            </small>
                            <input type="hidden" id="dateSubmit" class="form-control request-date" name="date">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="ubuntu-medium place-desc">Lieu où le service sera rendu</p><br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-2">
                                <label for="inputZip">Postal code</label>
                                <input type="text" class="form-control" id="inputZip" name="postalcode" value="1300">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputCity">City</label>
                                <input type="text" class="form-control" id="inputCity" name="city" value="Wavre">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputState">Country</label>
                                <select id="inputState" class="form-control browser-default custom-select ubuntu-light" name="country">
                                    <partial name="/Views/Shared/_Countries.cshtml" />
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-end">
                    <div class="col-md-4">
                        <button class="btn bg-color-green waves-effect form-control white-text" id="btn-submit">Publier</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/moment.js"></script>
    <script src="~/js/bootstrap-material-datetimepicker-bs4.min.js"></script>
    <script src="~/js/business/request-multicast.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLI9riil_9An2u7RA8zp8wXy0CGRZljvU"></script>
    <script src="~/js/business/google-coordinates.js"></script>


    <script type="text/javascript">
        var lang = "@ViewBag.Culture";

        function management_(object) {
            window.event.preventDefault();
            object.parentNode.querySelector('input[type=number]').stepDown();
        }

        function management_i(object) {
            window.event.preventDefault();
            object.parentNode.querySelector('input[type=number]').stepUp();
        }
    </script>
}