@model ICollection<ServiceTO>
@inject IViewLocalizer Localizer;
@inject UserManager<ApplicationUser> UserManager;

@{
    ViewBag.Title = Localizer["Titre"];

    var services = Model;

    var cultureFR = CultureInfo.CurrentCulture.Name.Contains("fr");
    var culture = (cultureFR) ? CultureInfo.CreateSpecificCulture("fr-FR") : CultureInfo.CreateSpecificCulture("en-US");
}

@section Styles {
    <link href="~/css/register.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/css/bootstrap-material-datetimepicker-bs4.min.css" rel="stylesheet" />
    <style>
        .dtp-btn-cancel {
            color: var(--custom-green-color) !important;
        }

        .dtp-btn-ok {
            color: var(--custom-green-color) !important;
        }

        .service-select:focus {
            border-color: #0e9c9c !important;
            box-shadow: 0 0 0 0.2rem rgba(14, 156, 156, .25) !important;
        }

        /*.select-wrapper.md-form.md-outline input.select-dropdown:focus {
            border-color: #4285f4;
            box-shadow: inset 0 0 0 1px #4285f4;
        }*/
    </style>
}
<!-- Start page content -->
<div class="container">
    <div class="row text-center">
        <h2 class="ubuntu-light font-weight-bold  my-4">Publier une demande</h2>
    </div>
    <div class="row my-4 my-md-5">
        <div class="col-12 card">
            <form autocomplete="off" class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <label for="sve">Service</label>
                        <select name="service" id="sve" class="mdb-select md-form md-outline service-select mt-0" searchable="Rechercher...">
                            @foreach (var group in services)
                            {
                                <optgroup label="@group.ServiceGroup.Title (@group.ServiceGroup.PointsByHour points/heure)">
                                    @foreach (var service in group.Services)
                                    {
                                        <option value="@service.Id">@service.Title</option>
                                    }
                                </optgroup>
                            }
                        </select>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group green-border">
                            <label for="date">Cliquez pour sélectionner la date et l'heure</label>
                            <input type="text" id="date" class="form-control request-date">
                            <input type="hidden" id="dateSubmit" class="form-control request-date" name="date">
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-end">
                    <div class="col-md-4">
                        <button class="btn bg-color-green waves-effect form-control white-text">Valider</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/moment.js"></script>
    <script src="~/js/bootstrap-material-datetimepicker-bs4.min.js"></script>


    <script type="text/javascript">
        var lang = "@ViewBag.Culture";
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();

            $(".dtp-select-hour").attr("fill", "#0e9c9c");

            $('.mdb-select').materialSelect();
        })
    </script>
}